@using DevExpress.AspNetCore
@model EventItem

<form asp-action="EventsEdit" name="EditForm" id="EditForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="id" hidden="hidden" />
    <input asp-for="modeRead" class="invisible" />
    <input asp-for="eventType" hidden="hidden" />
    <div class="row">
        <div class="form-group  col-sm-3">
            <label class="control-label">Затронутый пользователь</label>
            <input value="@Model.affectedUser?.name" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group col-sm-3">
            <label asp-for="affectedUserTelephone" class="control-label">Телефон</label>
            <input asp-for="affectedUserTelephone" class="form-control" onchange="setIsChanged(true)" />
            <span asp-validation-for="affectedUserTelephone" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-3">
            <label asp-for="affectedUserTelephoneExtension" class="control-label">Добавочный номер</label>
            <input asp-for="affectedUserTelephoneExtension" class="form-control" onchange="setIsChanged(true)" />
            <span asp-validation-for="affectedUserTelephoneExtension" class="text-danger"></span>
        </div>
  		<div class="form-group col-sm-3">
            <label asp-for="buildingId" class="control-label">Здание</label>
            <input value="@Model.room?.buildingId" class="form-control" disabled="disabled" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">Услуга(классификатор)</label>
            <input value="@Model.itemA?.name" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label">Система(item B)</label>
            <input value="@Model.itemB?.name" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label">Категория</label>
            <input value="@Model.category?.name" class="form-control" disabled="disabled" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label asp-for="richRemarks.content" class="control-label">Описание</label>
            <textarea asp-for="richRemarks.content" class="form-control" id="richRemarks.content"></textarea>
            <script type="text/javascript">
                CKEDITOR.replace('richRemarks.content', {
                    on: {
                        change: function (evt) {
                            setIsChanged(true);
                        }
                    }
                });
            </script>
            <span asp-validation-for="richRemarks.content" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">Информация</label>
            @(Html.DevExpress()
                                          .BootstrapMemo("webCustomPropertiesDescription")
                                          .Rows(20)
                                          .Value(Model.webCustomPropertiesDescription)
                                          .ReadOnly(true)
            )
        </div>
    </div>

</form>
